<div class="logout">
  <%= link_to "Logout", logout_path, method: "delete" %>
</div>

<h2 class="search-header">Stations in <%= @zip %> serving <%= @type %></h2>

<div class="stations-grid">
  <% @search_results.each do |result| %>
    <div class="stations-list">
      <%= image_tag "BWfuelstation.png" %><br>
      <h2> <%= result.name %> </h2>
      <h3> <%= result.fuel_type %> </h3>
      <p> <%= result.hours_operation %> </p>
      Address: <%= result.street %>, <%= result.city %>, <%= result.state %>, <%= result.zip %> <br> <br>
      <%= link_to "Save Station", {controller: "admin/stations", action: :create, station: result.attributes}, method: :post, class: "small-button" %>
      </div>
  <% end %>
</div>
