<%= render "../views/admin_navigation" %>
<h2 class="search-header">Search Stations: </h2>

<div class="search-form">
  <%= form_tag admin_searches_path, method: :get do %>
  <div class="field">
    <%= label_tag "Zip:" %>
    <%= text_field_tag :zip %>
  </div>
  <div class="field">
    <%= label_tag "Fuel Type:" %>
    <%= select_tag :type, options_for_select(fuel_types) %>
  </div>
  <div class="button-container">
    <%= submit_tag "Find Fuel Stations", class: "button" %>
  </div>
  <% end %>
</div>
