<%= render "../views/admin_navigation" %>

<section class="header-title">
  <h2>Saved Stations</h2>
</section>

<div class="stations-headers">
  <%= link_to "Add More Stations", new_admin_search_path %>
  <br>
</div>
<div class="stations-grid">
  <% @stations.each do |station| %>
    <div class="stations-list">
      <%= image_tag "gas_station_icon.png" %><br>
      <%= station.fuel_type %><br>
      <%= station.name %><br>
      <%= station.zip %><br>
      <br>
      <%= link_to "Delete Station", admin_station_path(station), method: :delete, class: "small-button" %>
      <br>
    </div>
  <% end %>
</div>
