<%= render "../views/navigation" %>
<h2 class="search-header">Stations in <%= @zip %> serving <%= fuel_types.key(@type) %></h2>

<div class="stations-grid">
  <% @stations.each do |station| %>
  <div class="stations-list">
    <%= image_tag "BWfuelstation.png" %><br>
    <%= station.name %>
    <%= station.fuel_type %>
    <%= station.hours_operation %>
    Address: <%= station.street %>, <%= station.city %>, <%= station.state %>, <%= station.zip %><br><br>
    <%= link_to "Favorite Station", {controller: "favorites", action: :create, station_id: station.id, user_id: current_user.id}, method: :post, class: "small-button" %>
    </div>
  <% end %>
</div>
